<div class="done-questions">
  <%= form_tag "/#{APP_SLUG}/filter-support", :method => :get do %>   
  <%= render partial: 'filters_for_facet', locals: { facet_title: "Business type", facets: @structures, facet_type: "structures" } %>
  <%= render partial: 'filters_for_facet', locals: { facet_title: "Location", facets: @locations, facet_type: "locations" } %>
  <%= render partial: 'filters_for_facet', locals: { facet_title: "Sector", facets: @sectors, facet_type: "sectors" } %>
  <%= render partial: 'filters_for_facet', locals: { facet_title: "Stage", facets: @structures, facet_type: "stages" } %>
  <%= render partial: 'filters_for_facet', locals: { facet_title: "Support type", facets: @types, facet_type: "types" } %>
  <%= submit_tag "Filter", :class => 'big-button' %>
  <% end %>
</div>
