<% content_for :page_class do %>search-page<% end %>

<div class="article-container group business-support-index js-filtered-list">

  <div class="block-2">
    <div class="inner-block">
      <div class="filter-block">
        <h2>You can use the filters to only show schemes that you are eligible for</h2>

        <form method="get" action="<%= request.path %>" id="document-filter" class="js-filter">
          <fieldset>
            <legend class="visuallyhidden">Filter available support</legend>

            <!-- Available support -->
            <div class="filter filter-inclusive" id="support-filter">
              <h3 class="title">Available support</h3>
              <% @types.each do |type| %>
                <div class="filter-inner checkbox">
                  <label for="<%= type.name %>"><%= type.name %></label>
                  <% checked = (!params["commit"] or (params["support_types"] and params["support_types"].include?(type.slug))) -%>
                  <%= check_box_tag "support_types[]", type.slug, checked, :id => type.slug %>
                </div>
              <% end %>
            </div>

            <!-- Business location -->
            <div class="filter business-location filter-exclusive" id="location-filter">
              <div class="filter-inner">
                <label for="select-location">Business location</label>
                <%= select_tag :areas,
                      option_groups_from_collection_for_select(@areas, :regions, :name, :slug, :name, params[:areas]),
                      :prompt => 'Any location',
                      :id => "select-location",
                      :class => "single-row-select"
                %>
              </div>
            </div>

            <!-- Number of employees -->
            <div class="filter filter-exclusive" id="employee-count-filter">
              <div class="filter-inner">
                <label for="employee-count-option">Number of employees</label>
                <%= select_tag :business_sizes,
                      options_from_collection_for_select(@sizes, :slug, :name, params[:business_sizes]),
                      :prompt => 'Any number of employees',
                      :id => "employee-count-option",
                      :class => "single-row-select"
                %>
              </div>
            </div>

            <!-- Activity or business type -->
            <div class="filter filter-exclusive" id="business-type-filter">
              <div class="filter-inner">
                <label for="business-type-option">Activity or business type</label>
                <%= select_tag :sectors,
                      options_from_collection_for_select(@sectors, :slug, :name, params[:sectors]),
                      :prompt => 'All activities and business types',
                      :id => "business-type-option",
                      :class => "single-row-select"
                %>
              </div>
            </div>

            <!-- Business stage -->
            <div class="filter filter-exclusive" id="business-stage-filter">
              <div class="filter-inner">
                <label for="business-stage-option">Business stage</label>
                <%= select_tag :stages,
                      options_from_collection_for_select(@stages, :slug, :name, params[:stages]),
                      :prompt => 'All business stages',
                      :id => "business-stage-option",
                      :class => "single-row-select"
                %>
              </div>
            </div>

            <div class="filter" id="filter-submit">
              <div class="filter-inner">
                <div class="submit">
                  <button class="button" name="commit" type="submit">Refresh results</button>
                </div>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <div class="block-4 filtered-results" id="filtered-results">
    <div class="inner-block">

      <!-- Summary -->
      <div class="filter-results-summary" aria-live="polite" aria-atomic="true">
        <h3>Available schemes<br /><span class='results-count'><%= @schemes.count %></span></h3>
      </div>

      <% if @schemes.count == 0 %>
        <div class="no-matching-schemes">
          <h2>There are no matching schemes.</h2>
          <p>Try making your search broader and try again.</p>
        </div>
      <% else %>
        <!-- Results -->
        <ul class="results-list">
          <% @schemes.each do |scheme| %>
            <li class="scheme" data-sectors='<%= formatted_facet_values(scheme.sectors) %>' data-areas='<%= formatted_facet_values(scheme.areas) %>' data-business_sizes='<%= formatted_facet_values(scheme.business_sizes) %>' data-types='<%= formatted_facet_values(scheme.support_types) %>' data-stages='<%= formatted_facet_values(scheme.stages) %>'>
              <h3><a href="<%= scheme.web_url %>"><%= scheme.title %></a></h3>
              <p><%= scheme.short_description %></p>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
</div>
