
<%= current_question do %>
  <div class="browse-container">
    <div id="business-sectors" class="search-picker">
      <h3>Choose your area of business:</h3>

      <ul id="sector-navigation">
        <% (@sectors - @picked_sectors).each do |sector| %>
          <%= link_to_add sector, :existing_items => @picked_sectors %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="business-sector-picked picked-items" aria-live="polite">
    <h3>Your chosen areas of interest</h3>
    <p class="hint">Your chosen areas will appear here</p>
    <ul id="picked-business-sectors">
      <% @picked_sectors.each do |sector| %>
        <%= link_to_remove sector, :existing_items => @picked_sectors %>
      <% end %>
    </ul>

    <% if @picked_sectors.any? %>
      <div class="button-container">
        <%= link_to 'Next step', '#', :id => "next-step", :class => "button medium" %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render :partial => 'upcoming_questions' %>
