<%= render :partial => 'completed_questions' %>

<%= current_question do %>
  <%= form_tag structure_path do %>
    <%= hidden_field_tag :sectors, params[:sectors] %>
    <div class="select-container">
      <label for="select-structure">Select a structure
        <%= select_tag :structure, options_from_collection_for_select(@structures, :slug, :name), :prompt => 'Select one...', :id => "select-structure" %>
      </label>
    </div>
    <%= submit_tag "Next step", :class => "button medium" %>
  <% end %>
<% end %>

<%= render :partial => 'upcoming_questions' %>
