<%= render :partial => 'completed_questions' %>

<%= current_question do %>
  <%= form_tag types_path do %>
    <%= hidden_field_tag :sectors, params[:sectors] %>
    <%= hidden_field_tag :stage, params[:stage] %>
    <%= hidden_field_tag :size, params[:size] %>
    <ul class="options">
      <% @types.each do |type| %>
        <li>
          <label for="type_<%= type.slug %>">
            <%= check_box_tag "types[]", type.slug, @picked_types.include?(type), :id => "type_#{type.slug}" %>
            <%= type.name %>
          </label>
        </li>
      <% end %>
    </ul>
    <%= button_tag "Next step", :class => "button medium" %>
  <% end %>
<% end %>

<%= render :partial => 'upcoming_questions' %>
