<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Finance and support for your business" %> - GOV.UK</title>
    <%= stylesheet_link_tag 'business-support-finder.css' %>
    <%= javascript_include_tag 'business-support-finder.js', :defer => true %>
    <%= yield :head %>
  </head>
  <body class="mainstream">
    <div id="wrapper" class="answer business-support-finder <%= yield :page_class %>">
      <main id="content" role="main">
        <header class="page-header group">
          <div>
            <h1><span>Quick answer</span>Finance and support for your business</h1>
          </div>
        </header>
        <%= yield %>
      </main>
      <%= yield :after_content %>
    </div>
  </body>
</html>
