<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Finance and support for your business" %> - GOV.UK</title>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag 'application' %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
    <%= airbrake_javascript_notifier %>
    <%= yield :head %>
  </head>
  <body class="mainstream">
    <div id="wrapper" class="answer business-support-finder <%= yield :page_class %>">
      <% if content_for?(:after_content) %><div class="grid-row"><% end %>
      <main id="content" role="main">
        <header class="page-header group">
          <div>
            <h1>Finance and support for your business</h1>
          </div>
        </header>
        <%= yield %>
      </main>
      <%= yield :after_content %>
      <% if content_for?(:after_content) %></div><% end %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
